pilot/src/main/app/pilot.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">

	<spring:beans>
		<spring:bean class="com.exam.hello.Hello" name="com.exam.hello.Hello"></spring:bean>
		<spring:bean class="com.exam.hello.ValidateInput" name="com.exam.hello.ValidateInput"></spring:bean>
	</spring:beans>

    <http:listener-config name="HTTP_Listener_Configuration_Pilot" host="0.0.0.0" port="8080"  doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="GlobalWeather_Web_Service_Consumer" wsdlLocation="http://www.webservicex.com/globalweather.asmx?WSDL" service="GlobalWeather" port="GlobalWeatherSoap12" serviceAddress="http://www.webservicex.com/globalweather.asmx" doc:name="Web Service Consumer"/>
    <flow name="hello">
        <http:listener config-ref="HTTP_Listener_Configuration_Pilot" path="/hello" doc:name="HTTP"/>
        <logger message="Hello world ***************************" level="INFO" doc:name="Logger"/>
        <set-payload value="#['Hello World']" doc:name="Set Payload"/>
    </flow>
    <flow name="flow">
        <http:listener config-ref="HTTP_Listener_Configuration_Pilot" path="/{inpath}/*" allowedMethods="POST" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
        <logger message="#['payload is : ' + payload]" level="INFO" doc:name="payload Logger"/>
        <logger message="#['path is ' + message.inboundProperties.'http.uri.params'.inpath]" level="INFO" doc:name="message Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'javaSubFlow']">
                <flow-ref name="javaSubFlow" doc:name="javaSubFlow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'variableSubFlow']">
                <flow-ref name="variableSubFlow" doc:name="variableSubFlow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'invokeSubFlow']">
                <flow-ref name="invokeSubFlow" doc:name="invokeSubFlow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'jsonSubFlow']">
                <flow-ref name="jsonSubflow" doc:name="jsonSubflow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'decisionSubFlow']">
                <flow-ref name="decisionSubFlow" doc:name="decisionSubFlow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'wsdlSubFlow']">
                <flow-ref name="workingWithWSDLSubFlow" doc:name="workingWithWSDLSubFlow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.uri.params'.inpath == 'transactionInquiry']">
                <flow-ref name="account-txn-inquiry-subflow" doc:name="account-txn-inquiry-subflow"/>
            </when>
            <otherwise>
                <logger message="Default choice case *********************" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="jsonSubflow">
        <logger message="jsonSubFlow begin ...." level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="com.exam.objects.Student" doc:name="JSON to Object"/>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
    </sub-flow>
    <sub-flow name="javaSubFlow">
        <logger message="javaSubFlow begin ...." level="INFO" doc:name="Logger"/>
        <set-variable variableName="propertyName" value="world" doc:name="Constance"/>
        <component class="com.exam.hello.Hello" doc:name="Java"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </sub-flow>
    <sub-flow name="variableSubFlow">
        <logger message="variableSubFlow begin ...." level="INFO" doc:name="Logger"/>
        <set-variable variableName="payloadVariable" value="#[payload]" doc:name="Payload Variable"/>
        <logger message="#['payloadVariable: ' + payloadVariable]" level="INFO" doc:name="Logger"/>
        <set-payload value="variableSubFlow return from Set Payload" doc:name="Set Payload"/>
    </sub-flow>
    <sub-flow name="invokeSubFlow">
        <logger message="invokeSubFlow begin ...." level="INFO" doc:name="Logger"/>
        <invoke object-ref="com.exam.hello.Hello" method="saySomething" doc:name="Invoke" methodArguments="'', ''"/>
    </sub-flow>
    <sub-flow name="decisionSubFlow">
        <logger message="decisionSubFlow begin ...." level="INFO" doc:name="Logger"/>
        <component class="com.exam.hello.ValidateInput" doc:name="Java"/>
        <choice doc:name="Choice">
            <when expression="#[keyHello == 1]">
                <logger message="#['one ' + keyHello]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="default" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </sub-flow>
    
    <sub-flow name="workingWithWSDLSubFlow">
        <logger message="account-txn-inquiry-subflow begin ...." level="INFO" doc:name="Logger"/>
        <logger message="#['client_id is ' + message.inboundProperties.'http.query.params'.client_id]" level="INFO" doc:name="client_id Logger"/>
        <logger message="#['client_secret is ' + message.inboundProperties.'http.query.params'.client_secret]" level="INFO" doc:name="client_secret Logger"/>
        <logger message="#['request body is ' + payload]" level="INFO" doc:name="payload Logger"/>
        <set-variable variableName="customerRequest" value="" doc:name="Set Customer Request"/>
        
                <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://bso.tisconet.com/AccountInquiryService/
---
{
	ns0#inquiryTransaction: {
		channelType:payload.data.customer_requester_info.service_caller,
		channelType:payload.data.customer_requester_info.channel_type
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="&lt;GetCitiesByCountry xmlns=&quot;http://www.webserviceX.NET&quot;&gt;
	&lt;CountryName&gt;Thailand&lt;/CountryName&gt;
&lt;/GetCitiesByCountry&gt;" doc:name="Set Payload"/>
        <ws:consumer config-ref="GlobalWeather_Web_Service_Consumer" operation="GetCitiesByCountry" doc:name="Web Service Consumer"/>

        <logger message="#['transformed to ' + payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    
    <sub-flow name="account-txn-inquiry-subflow">
        <logger message="account-txn-inquiry-subflow begin ...." level="INFO" doc:name="Logger"/>
        <logger message="#['client_id is ' + message.inboundProperties.'http.query.params'.client_id]" level="INFO" doc:name="client_id Logger"/>
        <logger message="#['client_secret is ' + message.inboundProperties.'http.query.params'.client_secret]" level="INFO" doc:name="client_secret Logger"/>
        <logger message="#['request body is ' + payload]" level="INFO" doc:name="payload Logger"/>
        <set-variable variableName="customerRequest" value="" doc:name="Set Customer Request"/>
        
                <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://bso.tisconet.com/AccountInquiryService/
---
{
	ns0#inquiryTransaction: {
		service_caller:payload.data.transaction_requester_info.service_caller,
		channelType:payload.data.transaction_requester_info.channel_type
	}
}]]></dw:set-payload>
        </dw:transform-message>

        <logger message="#['transformed to ' + payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
